*.tif
*.gpkg
nsi_flood_depths_geo.parquet
nsi_flood_depths.parquet
mcs_results.parquet
USEEIOv2.0.1-411.rds
manuscript/*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
